ImageRecognition.v11.suo
ImageRecognition/obj/Debug/
ImageRecognition/bin/Debug/
ImageRecognition/bin/Release
ImageRecognition/obj/
Logger/bin/
Logger/obj/
packages
Workbench/bin/
Workbench/obj/
Workbench2/bin/
Workbench2/obj/
Workbench2Console/bin/
Workbench2Console/obj/
Workbench3/bin/
Workbench3/obj/
